@font-face {
  font-family: Alien;
  src: url(C:/Users/cp24/Documents/Chakra_Petch/ChakraPetch-Light.ttf);
}
body  {
  font-family: Alien;
  background-image: url("C:/Users/cp24/GitHub/Repos/urban-octo-engine/colon3/src/img/starryNight2.jpg");
  background-size:cover;
      -webkit-animation: slidein 100s;
      animation: slidein 100s;

      -webkit-animation-fill-mode:backwards;
      animation-fill-mode:backwards;

      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;

      -webkit-animation-direction: alternate;
      animation-direction: alternate;  
  height: auto;            
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}
header{
  /* border-radius: 15px; */
  
  box-shadow:  5px 1px 8px 3px rgb(60, 60, 68);
}
.center
{
top: 0;
right: 0;
bottom: 0;
left: 0;
align-items:flex-start;
justify-content: center;
position: absolute;
margin: auto;

 
}

/* 
.App {
  font-family: Alien;
} */
/*cat logo spin thing */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    
  }
}



.App-header-container {
  /* background-color: rgb(34, 6, 94); */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:x-large;
  color: #22B915;
  
}

.App-preFooter-container {
  box-shadow:  5px 1px 8px 3px rgb(60, 60, 68);
  /* border-radius: 15px; */
  /* background-color: rgb(57, 31, 112); */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: #22B915;
  position: fixed bottom;
  
}
footer {
  /* border-radius: 15px; */
  background-color: rgb(34, 6, 94);
  min-height: 1vh;
  display: flex;
  position: fixed bottom;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:medium;
  color: #22B915;
}
.catBoxesContainer{
  background-color: rgba(57, 31, 112, 0.267);
  padding: 20px 400px;
  display:flex;
  margin-top: 20px;
  margin: 0px 100px;
}
cat-box {
  background-color:rgba(35, 104, 56, 0.267);
  display:grid;
  border-radius:  15px;
  align-items:center;
  padding: 20px; 
  color: green;
  /* box-shadow:  2px 2px 4px 4px rgb(61, 69, 224); */
  width: 200px;
  height: 150px; 
}
a{
  color:antiquewhite;
}

div:hover{
  border-color: red;
  color:red;
}
cat-box:hover, .App-header-container:hover, a:hover, .App-preFooter-container:hover{
  box-shadow:  5px 1px 8px 3px #1bec08;
}

.input-div{
  padding: 40px 400px;
  align-items: center;
  display: flex;
}
input:hover{
  border-color: #1c7f13;
}

input{
  font-family: Alien;
  padding: 20px 20px;
  border-color:rgb(110, 126, 38);
  color:antiquewhite;
  background-color: rgba(0, 0, 0, 0.267);
  align-items: center;
  width: 100%;
  font-size: large;
}
.App-link {
  
  color: #BD26ED;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  color:aqua;
}


